.quien__soy--button {
  margin-top: 2rem;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 3rem;
  
  
}

.contacto--button {
  border-radius: 5px;
  border: none;
  padding: 0.5rem 3rem;
}

@media (max-width: 577px) {
  .quien__soy--button{
    width: 100%;
  }
}