body {
  background-color: rgb(216, 216, 216);
  scroll-behavior: smooth;
}


.quien-soy__image img{
    width: 100%;
}

.habilidades__container img {
  width: 2.5rem;
}

.habilidades__container {
  gap: 3.5rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.trabajos img {
  width: 20rem;
  margin-bottom: 1rem;
}

.proyectos__container {
  gap: 3rem;
}

.proyectos__container {
  margin-top: 3rem;
}

.direcciones__container {
  margin-top: 3.5rem;
}
